<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout::html_head(title='Add')">

</head>
  
</head>
<body>
<nav th:replace="layout::html_nav"></nav>

<div class="container">
    <h1 th:text="#{create_content}">Create content.</h1>
    <form th:action="@{/handle-add}" th:object="${content}" method="post" enctype="multipart/form-data">

        <div>
            <img src="https://www.alpiend.com/admin/assets/images/default.png" id="output" width="200" height="200"/>
        </div>
        <div class="form-group">
            <label for="exampleInputArticle1">Profile content</label>
            <input type="file" onchange="loadFile(event)" name="file" class="form-control" id="exampleInputArticle1" aria-describedby="nameHelp">
        </div>

        <div class="form-group">
            <label th:text="#{title}" for="exampleInputTitle1">Article Title</label>
            <input type="text" name="title" class="form-control" id="exampleInputTitle1" aria-describedby="nameHelp" th:field="*{title}">
            <small id="nameHelp" th:errors="${content.title}" class="form-text text-danger">We'll never share your content with anyone else.</small>
        </div>

        <div class="form-group">
            <label th:text="#{description}" for="exampleInputDescription">Description</label>
            <input type="text" name="description" class="form-control p-5" id="exampleInputDescription" aria-describedby="nameHelp" th:field="*{description}">
            <small id="addressHelp"   th:errors="${content.description}" class="form-text text-danger">We'll never share your content with anyone else.</small>
        </div>


        <button th:text="#{submit}" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<script>
    var loadFile = function(event) {
        var image = document.getElementById('output');
        image.src = URL.createObjectURL(event.target.files[0]);
    };
</script>

<div th:replace="layout::script"></div>
</body>
</html>