<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="layout::html_head(title='Home')">
</head>
<body>

<!--NavBar-->
<nav th:replace="layout::html_nav" class="navbar navbar-expand-lg navbar-light bg-light">
</nav>

<!--menu-->
<div th:replace="layout::html-menu"></div>

<!--Table -->

<div class="container-fluid">

    <table class="table table-info">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th th:text="#{title}" scope="col">Title</th>
            <th th:text="#{description}" scope="col">Description</th>
            <th th:text="#{image}" scope="col">Image</th>
            <th th:text="#{action}" scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="content: ${contents}">
            <th th:text="${content.id}" scope="row">1</th>
            <td th:text="${content.title}">Mark</td>
            <td th:text="${content.description}">Otto</td>
            <td>
                <div>
                    <img th:src="${content.getUrlImg()}" width="100px" height="100px" />
                </div>
            </td>
            <td  >
                <a th:text="#{view}" th:href="@{/view-content/{id}(id=${content.id})}" type="button" class="btn btn-secondary">View</a>
                <a th:text="#{edit}" th:href="@{/update-content/{id}(id=${content.id})}" type="button" class="btn btn-secondary">Update</a>
                <a th:text="#{delete}" th:href="@{/delete-content/{id}(id=${content.id})}" type="button" class="btn btn-secondary">Delete</a>
            </td>

        </tr>
        </tbody>
    </table>
</div>




<div th:replace="layout::script"></div>
</body>
</html>